# Markdown
## Markdown
### Markdown
#### Markdown

**Python**

## Insert Image
![text](https://thumbs.dreamstime.com/b/bouquet-flowers-colorful-assorted-flowers-bouquet-against-dark-background-128732764.jpg)

# Insert site
[site](http://ct3.gitam.edu)

## Insert Image
![text](https://images.pexels.com/photos/717988/pexels-photo-717988.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)

# PYTHON

-PYTHON IS EASY TO LEARN
- Python is more popular and demand
-python is used in datascience

In [2]:
print("hello world")

hello world

In [3]:
print("hey varsha!")

hey varsha!

# Assignment

In [5]:
x=3
y=18
print(x,y)

3 18

In [6]:
a=b=c=20
print(a,b,c)

20 20 20

In [7]:
a=b=30
b=c=50
print(a,b,c)

30 50 50

In [8]:
a1,b1,c1=12,13,14
print(a1,b1,c1)

12 13 14

# DataTYPES and Conversions
## int 
## float
## string
## boolean
## complex

In [9]:
x=10
y=12.45
z=3+5j
print(type(x)),print(type(y)),print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

(None, None, None)

In [10]:
# boolean
x=5
y=2
x<y

False

In [11]:
a=34
b=3
a>b

True

In [12]:
#string
s1="abc"
s2="xyz"
print(type(s1))
print(type(s2))

<class 'str'>
<class 'str'>

In [13]:
a=123
print(type(a))

<class 'int'>

In [14]:
a="456"
print(type(b))

<class 'int'>

In [16]:
a=123
print(type(a))
s1=str(a)
print(type(s1))
f=float(a)
print(type(f))

<class 'int'>
<class 'str'>
<class 'float'>

# Reading a value ---Input function

In [1]:
s=input("enter your name")
print(s)
print(type(s))

enter your namevarsha
varsha
<class 'str'>

In [2]:
s=int(input("enter age:"))
print(s)
print(type(s))

enter age:45
45
<class 'int'>

# OPERATORS

- OPERATOR IS a symbol used to perform specific kind of operations

# Arthematic operator

- +
- -
- *
- /
- %
- **
- //

# precedence of arth opearators

- parenthesis
- power
- division
- multiplication
- addition

In [ ]:
n=123
print(n+100)
print(n-100)
print(n/100)
print(n%100)
print(n*100)
print(n**10)
print(n//10)

In [5]:
x = 1 + 2 ** 3 / 4 + 5
print(x)

8.0

In [6]:
x = 1 + 2 ** 3 / 4 * 5
print(x)

11.0

# Relational Operators

- ==,!=, <,>,<=,>=

In [7]:
a=10
a1=a>15
print(a1)

False

In [8]:
a=23
a1=a<100
print(a1)

True

# Logical Operators
 and ,not,or

In [10]:
x=20
y=30
print(x>10 and x<=20)
print(y>50 and y<20)
print(not x)

True
False
False

# Membership Operator
in ,not in

In [11]:
str="abc"
print('a' in str)
print('a' not in str)

True
False

# condition operators
-if else elif

## If-else statements
### syntax
#### if condition:
> Statements<br>
##### else
>statements

In [1]:
# even or odd
n= int(input("enter a number"))
if(n%2==0):
    print("even number")
else:
    print("odd number")

enter a number20
even number

In [3]:
# check the given number  is multiple of 3 and 5
n= int(input("enter a number"))
if(n%3==0 and n%5==0):
    print("divisible of 3 and 5")
else:
    print("not divisible")

enter a number15
divisible of 3 and 5

In [6]:
# check given number is positive,negative or zero
x= int(input("enter a number"))
if(x>0):
    print("positive")
elif(x<0):
    print("negative")
else:
    print("zero")

enter a number0
zero

In [12]:
#given number is leap year or not
n=int(input("enter a year"))
if n % 400 or(n % 100 !=0 and n % 4==0):
    print("leap year")
else:
    print("not a leap year")

enter a year2000
not a leap year