# python

# basic list functions

In [1]:
li=[1,2,56,3,4 ,5,6,29]
li.sort()#sort list in ascending order
print(li)
li.pop()# last index will delete
print(li)
li.pop(1)# removes items from specific index
li

[1, 2, 3, 4, 5, 6, 29, 56]
[1, 2, 3, 4, 5, 6, 29]

[1, 3, 4, 5, 6, 29]

In [6]:
# function to return large number from list
def largenumber(li):
    li.sort()
    return li[-1]
def genericlarge(li,n):
    li.sort()
    return li[-n]
li=[19,1,3,87,32,21,36]
print(largenumber(li))
print(genericlarge(li,3))

87
32

In [11]:
def smallnumber(li):
    li.sort()
    return li[0]
def genericsmall(li,n):
    li.sort()
    return li[n]
li=[19,1,4,5,89,20]
print(smallnumber(li))
print(genericsmall(li,3))

1
19

# tupple
- values separated by comma enclosed by parenthesis()
- values cannot be changed i.e immutable
# difference between list and tuple
-list can be modified
-list  used to access means modify,add,delete,update
-tuple cannot be modified
-uesd to access data only

In [12]:
ti=(1,2,3,4,5)
print(ti)
print(type(ti))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [18]:
li=["gitam",1,2,3,4,5,6]
print(li)
print(li[1])
print(li[:2])
print(li[2:4])
print(li[-1])
print(li[-4:-1])
print(li[::-1])

['gitam', 1, 2, 3, 4, 5, 6]
1
['gitam', 1]
[2, 3]
6
[3, 4, 5]
[6, 5, 4, 3, 2, 1, 'gitam']

# dictionaries
- works on concept of set unique data
- dictionary contains keys and values
- each key is separated from its values with colen ':'
- each key and values separated by comma ,
- dictionary enclosed by {}

In [23]:
d1 = {"name":"gitam","email":"gitam@gitam.com","address": "hyderabad"}
d1
print(d1)
print(type(d1))
del d1["name"]
d1

{'name': 'gitam', 'email': 'gitam@gitam.com', 'address': 'hyderabad'}
<class 'dict'>

{'email': 'gitam@gitam.com', 'address': 'hyderabad'}

In [20]:
d1["name"]

'gitam'

In [21]:
d1["email"]

'gitam@gitam.com'

In [25]:
d = {"name":"gitam","email":"gitam@gitam.com","address" : "hyderabad"}
print(d)
print(type(d))
d["name"]="varsha"
d
d["email"]="varsha@1706.com"
d

{'name': 'gitam', 'email': 'gitam@gitam.com', 'address': 'hyderabad'}
<class 'dict'>

{'name': 'varsha', 'email': 'varsha@1706.com', 'address': 'hyderabad'}

In [26]:
d1.keys()

dict_keys(['email', 'address'])

In [27]:
d1.values()

dict_values(['gitam@gitam.com', 'hyderabad'])

In [28]:
d1.items()

dict_items([('email', 'gitam@gitam.com'), ('address', 'hyderabad')])

# strings

In [30]:
s1 ='python'
s1
print(s1)
print(type(s1))

python
<class 'str'>

In [1]:
s1 = 'python'
print(s1[0])
print(s1[5])
print(s1[::-1])
print(s1[len(s1)//2])
print(s1[0:6:3])

p
n
nohtyp
h
ph

AttributeError: 'str' object has no attribute 'spilt'

In [4]:
# using function reverse of the string
def reverseofstring(str):
    return(str[::-1])
print(reverseofstring("varsha"))

ahsrav

In [12]:
#palindrome
def reverseofstring(str):
    if str==str[::-1]:
        return True
    else:
        return False
print(reverseofstring("mom"))
print(reverseofstring("varsha"))

True
False

# string built in functions
- upper()
- lower()

In [13]:
s1 = "Python"
print(s1.upper())
print(s1.lower())
print(s1.isupper())
print(s1.islower())
print(s1.istitle())
print(s1.isnumeric())
print(s1.isalpha())
print(s1.isspace())

PYTHON
python
False
False
True
False
True
False

In [16]:
s=" "
print(s.isspace())

True

# stringmethods
- join()
- split()
- replace()

In [18]:
s1="varsha"
print("_".join(s1))

v_a_r_s_h_a

In [21]:
s1="amogh is a good boy"
print(s1.split())
print(s1.split('a'))

['amogh', 'is', 'a', 'good', 'boy']
['', 'mogh is ', ' good boy']

In [22]:
s1="varsha is a good girl"
print(s1.replace("good","very good"))

varsha is a very good girl

In [22]:
s1="varsha is a good girl"
print(s1.replace("good","very good"))

varsha is a very good girl

In [33]:
marks ={'peter' :[80,85,90],'joe':[86,90,95]} 
marks["peter"]

[80, 85, 90]

In [36]:
li=marks["peter"]
li[2]

90

In [37]:
li=marks["peter"]
li[1]

85

In [38]:
li=marks["joe"]
li[0]

86

In [39]:
li=marks["joe"]
li[::-1]

[95, 90, 86]

In [41]:
marks={'peter' :{'match':1,'english':2},'joe':[86,90,95]}
li=marks["peter"]
li1=li["english"]
li1

2